html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

#page {
    transition: background-color 0.5s ease;
    background-color: #1e1e1e;
    color: white;
}

.dot-container {
    position: absolute;
    top: 60%;
    display: flex;
    gap: 12px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0.6;
}

.dot:hover {
    transform: scale(1.3);
    opacity: 1;
}

.dot.active {
    opacity: 1;
}

.link{
    text-decoration: none;
    color: white;
}

.hover-grow {
  transition: transform 0.3s ease;
}

.hover-grow:hover {
  transform: scale(1.1);
}

.fixed-image {
  width: 416px;
  height: 416px;
  object-fit: cover;
}